.autocomplete-wrapper {
  @apply relative w-full sm:w-auto min-w-[200px];
}

.autocomplete-input {
  @apply w-full px-3 py-2 rounded-lg border border-gray-300
         focus:outline-none focus:ring-2 focus:ring-blue-400
         text-base shadow-sm bg-white;
}

.autocomplete-list {
  @apply absolute z-50 bg-white border border-gray-300 rounded-lg
         w-full mt-1 max-h-64 overflow-auto shadow-lg text-base text-left;
}

.autocomplete-empty {
  @apply px-3 py-2 text-gray-500 italic text-left;
}

.autocomplete-item {
  @apply px-3 py-2 text-left hover:bg-blue-100 cursor-pointer transition-colors;
}

.autocomplete-list::-webkit-scrollbar {
  width: 6px;
}

.autocomplete-list::-webkit-scrollbar-thumb {
  background-color: rgb(209 213 219);
  border-radius: 3px;
}

.autocomplete-list::-webkit-scrollbar-thumb:hover {
  background-color: rgb(156 163 175);
}
