@tailwind base;
@tailwind components;
@tailwind utilities;


html, body, #root {
  @apply h-full;
}


.search-container {
  @apply min-h-screen h-full flex flex-col items-center justify-center gap-6 px-4 -mt-20;
}

.search-container h2 {
  @apply w-full max-w-[1000px] text-left text-2xl font-bold text-gray-800 mb-4 pl-8;
}

.search-form {
  @apply flex items-center justify-center gap-4
         border-2 border-gray-300 rounded-xl p-4 shadow-lg bg-white
         flex-wrap md:flex-nowrap;
}

.search-form label {
  @apply flex items-center gap-2 text-gray-700 font-medium whitespace-nowrap;
}

.search-form select {
  @apply w-full sm:w-auto min-w-[200px]
         px-3 py-2 rounded-lg border border-gray-300 
         focus:outline-none focus:ring-2 focus:ring-blue-400 text-base;
}


.date-picker-input {
  @apply px-3 py-2 rounded-lg border border-gray-300 
         focus:outline-none focus:ring-2 focus:ring-blue-400 text-base w-64;
}



.search-form button[type="submit"] {
  @apply bg-blue-500 text-white font-semibold px-6 py-2 rounded-lg 
         shadow-md hover:bg-blue-600 transition duration-200 whitespace-nowrap flex-none;
}

.search-form button[type="submit"]:disabled {
  @apply bg-gray-400 cursor-not-allowed;
}

.result {
  @apply mt-6 p-4 border rounded-lg bg-gray-50 shadow-inner w-full max-w-2xl;
}
